.homepage {
  width:100vw;
  height:calc(100vh - 15vh);
  overflow-y: scroll;
  overflow-x: hidden;
  
  .inner {
    padding: 0 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    margin:0 auto;
  }

  h2 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }

  @media screen and (min-width:1000px) {
    width:calc(100vw - 30vw);
    height: calc(100vh - 6.5rem);
    overflow-y: scroll;
    overflow-x: hidden;
    
    .inner {
      padding: 0 5rem 0 5rem;
      margin:0 auto;
    }

    h2 {
      margin-top: 3rem;
      margin-bottom: 1.5rem;
    }
  }
}

.latestEpisodes {
  ul {
    width:100%;
    list-style: none;

    li {
      height:auto;
      padding: 1.25rem;
      border-radius: 1.5rem;
      display: flex;
      align-items: center;
      justify-content:center;

      @media screen and (min-width:1000px) {
        flex-direction:row;
        align-items: center;
        justify-content:space-around;
      }
      background: var(--white);
      border: 1px solid var(--gray-100);

      .episodeDetails {
        width:80%;

        @media screen and (min-width:1000px) {
          width:80%;
        }

        a {
          font-family: Lexand, sans-serif;
          font-weight: 600;
          text-decoration: none;
          line-height: 1.4rem;
          color: var(--gray-800);

          &:hover {
            text-decoration: underline;
          }
        }

        p {
          font-size: 0.875rem;
          margin-top: 0.5rem;
          max-width: 90%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        span {
          display: inline-block;
          margin-top: 0.5rem;
          font-size: 0.875rem;

          &:last-child {
            margin-left: 0.5rem;
            padding-left: 0.5rem;
            position: relative;

            &::before {
              content: "";
              width: 4px;
              height: 4px;
              border-radius: 2px;
              background: #DDD;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translate(-50%, -50%)
            }
          }
        }
      }
      
      button {
        width: 3rem;
        height: 3rem;
        font-size: 2rem;;
        display:flex;
        justify-content: center;
        align-items: center;
        transition: filter 0.2s;
        border:none;
        background:transparent;
      }
    }
  }
}

.allEpisodes {
  width: 100%;
  padding-bottom: 2rem;

  ul {
    display: flex;
    flex-direction: column;
    padding:0 2rem 0 2rem;
    border-top:thin solid var(--gray-100);

    li {
      width:100%;
      display: flex;
      flex-direction: row;
      padding:1.6rem 0 1.6rem;
      border-bottom:thin solid var(--gray-100);

      @media screen and (min-width:1000px) {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
      }

      a {
        font-family: Lexand, sans-serif;
        font-size:1rem;
        font-weight: 600;
        color:var(--gray-800);
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width:1000px) {
          grid-area: 1 / 1 / 2 / 4;
        }
      }

      p {
        display: none;

        @media screen and (min-width:1000px) {
          display: flex;
          justify-content: center;
          align-items: center;
          
          &:first-child {
            grid-area: 1 / 4 / 2 / 5;
          }
          &:last-child {
            grid-area: 1 / 5 / 2 / 6;
          }
        }
      }
      button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
        border:none;
        background:transparent;
        grid-area: 1 / 6 / 2 / 7;
      }
    }
  }
}
