.headerContainer {
  height: 10vh;
  padding:2rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--gray-100);
  background: var(--white);
  
  @media screen and (min-width:1000px) {
    height: 15vh;
    padding: 2rem 4rem;
  }

  img {
    width:10rem;
    cursor: pointer;
    
    @media screen and (min-width:1000px) {
      width:163px;
    }
  }

  p {
    margin-left: 2rem;
    padding: 0.25rem 0 0.25rem 2rem;
    border-left: 1px solid var(--gray-100);
  }

  span {
    display: none;
    margin-left: auto;
    text-transform: capitalize;

    @media screen and (min-width:1000px) {
      display: flex;
    }
  }
}