.playerContainer {
  width:100vw;
  height: 20vh;
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color:rgb(27, 27, 27);

  @media screen and (min-width:1000px) {
    position:relative;
  }

  header {
    display: none;

    @media screen and (min-width:1000px) {
      display: flex;
      align-items: center;
      gap: 1rem;
    }
  }

  strong {
    font-family: Lexand, sans-serif;
    font-weight: 600;

    @media screen and (min-width:1000px) {
      font-family: Lexand, sans-serif;
      font-weight: 600;
    }
  }

  footer {
    padding:0 1rem 0 0;
    &.empty .progress {
      opacity: 0.5;
    }

    @media screen and (min-width:1000px) {
      margin:0;
      padding:0;
    }
  }

  @media screen and (min-width:1000px) {
    padding: 3rem 4rem;
    height: 100vh;
    width:30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.currentEpisode {
  text-align: center;

  img {
    width: 8rem;
    height: 8rem;
    border-radius: 1.5rem;

    @media screen and (min-width:1000px) {
      width: 15rem;
      height: 15rem;
    }
  }

  strong {
    display: none;
    
    margin-top: 2rem;
    font: 600 1.25rem Lexand, sans-serif;
    line-height: 1.75rem;
    
    @media screen and (min-width:1000px) {
      display: block;
    }
  }

  span {
    display: block;
    margin-top: 1rem;
    opacity: 0.6;
    line-height: 1.5rem;
  }
}

.emptyPlayer {
  width: 10rem;
  height: 10rem;
  border: 1.5px dashed rgb(70, 70, 70);
  border-radius: 1.5rem;
  background-color:rgb(20, 20, 20);
  padding:1rem;
  font-size:1rem;
  text-align:center;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width:1000px) {
      width: 100%;
      height: 45vh;    
      padding: 4rem;
  }
}

.progress {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.875rem;

  span {
    display: inline-block;
    width: 4rem;
    text-align: center;
    margin-bottom:1rem;
  }

  .slider {
    flex: 1;

    margin-bottom:1rem;

    .emptySlider {
      width: 100%;
      height: 4px;
      background:rgba(0,0,0,.8);
      border-radius: 2px;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;

  @media screen and (min-width:1000px) {
    margin-top: 2.5rem;
    gap: 1.5rem;
  }


  button {
    font-size:1.4rem;
    border:none;
    color:#ffffff;
    background: transparent;
    transition: all 0.2s;
    
    @media screen and (min-width:1000px) {
      font-size:1.4rem;
    }
    
    &:disabled {
      cursor: default;
      opacity: 0.5;
    }

    &.isActive {
      color:#4588f6;
    }

    &.isActive:hover {
      color:#3b75d3;
    }

    &.playButton {
      width:4rem;
      height:4rem;
      font-size:2.4rem;
      display: flex;
      align-items:center;
      justify-content:center;
      border-radius: 2rem;
      background-color:#4588f6;
      transition: all 0.2s;

      &:hover {
        color:#ffffff;
        background-color:#3b75d3;
      }
    }
  }
}